* [class*=" eqticon32_"] {
  background-image: url(image_path('fatcow-icons-32.png'));
}
.eqticon32_new_file {
  background-position: 0      0;
}
.eqticon32_new_dir {
  background-position: -32px 0;
}
