// Place all the styles related to the Dfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fs_content_file {
    display: inline-block;
    width: 100%;
}

.fs_file_zone {
    display: inline-block;
    width: 100%;
    height: 25em;
    overflow: auto;
    background-image:url(image_path('sheet-back.png'));
}

.equation {
    float: left;
    background: black;
    color: white;
    //width: 100px;
    padding: 0.3em;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    //line-height: 100px;
}

.bottomfix {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#999;
   overflow:auto;
}

/* IE 6 */
* html .bottomfix  {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.equpath {
   position: fixed;
   top: 0px;
   left: 0px;
}
