/* ========================================================================= */
/* ------------------------------------------------------------------------- */
/*
  \date         Apr 2013
  \author       TNick

  \brief        Styles for the toolbars

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Please read COPYING and README files in root folder
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
//
//
//
//
/*  INCLUDES    ------------------------------------------------------------ */

@import "bootstrap";
@import "defines";

/*  INCLUDES    ============================================================ */
//
//
//
//
/*  DEFINITIONS    --------------------------------------------------------- */

/*  DEFINITIONS    ========================================================= */
//
//
//
//
/*  CLASSES    ------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* class for toolpanels */
.toolpanel {
    
    // start hidden
    display: none;
}
/* ========================================================================= */

.ui-dialog {
    font-size: 90%;
}

.ui-dialog-titlebar-close {
   width: 16px;
   height:16px;
}
.ui-icon-closethick {
   width: 14px;
   height:14px;
   margin:0px !important;
   left:0px !important;
   top:0px !important;
}
.ui-dialog-titlebar {
   padding:0px !important;
}
.ui-dialog {
   padding:0px !important;
}

/*  CLASSES    ============================================================= */
//
//
//
//
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
