<%-# ====================================================================== -%>
<%-# ---------------------------------------------------------------------- -%>
<%-#                                                                        -%>
<%-#  \date			May 2013                                                -%>
<%-#  \author		TNick                                                   -%>
<%-#                                                                        -%>
<%-#  \brief		This is the about page for the site                     -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~- %>
<%-# Please read COPYING and README files in root folder                    -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  HEADER    ----------------------------------------------------------- -%>

<% provide(:title, 'About Us') %>
<h1>About EquTree</h1>

<%-#  HEADER    =========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  CONTENT    ---------------------------------------------------------- -%>

<p>
  The project uses a database where mathematical content is stored in 
  <a href="http://www.openmath.org/">OpenMATH</a> format 
  <a href="http://www.openmath.org/standard/om20-2004-06-30/omstd20html-0.xml">version 2</a>.
</p>

<p>
  The project uses free, open-source technology:
  <ul>
    <li>
      <a href="http://rubyonrails.org/">Ruby on Rails</a>
    </li>
    <li>
      <a href="http://jquery.com/">jQuerry</a>
    </li>
    <li>
      <a href="http://jstree.com/">jsTree</a> and associated plug-ins
      Copyright (c) 2010 Ivan Bozhanov, licensed under the terms of either
      the MIT License or the GPL Version 2 License.
    </li>
    <li>
      <a href="http://paulkinzett.github.com/toolbar/">jQuery.toolbar</a> 
      Copyright 2013 Paul Kinzett, released under the MIT license.
    </li>
  </ul>
</p>

<p>
  The source for this application is open and available at 
  <a href="https://github.com/">GitHub</a>, that kindly
  provides free hosting for open-source projects.
  
</p>

<%-#  CONTENT    ========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
