<%-# ====================================================================== -%>
<%-# ---------------------------------------------------------------------- -%>
<%-#                                                                        -%>
<%-#  \date			May 2013                                                -%>
<%-#  \author		TNick                                                   -%>
<%-#                                                                        -%>
<%-#  \brief		File inserted at the to of every generated html         -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~- %>
<%-# Please read COPYING and README files in root folder-%>
<%-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#  FOOTER    ----------------------------------------------------------- -%>

<footer class="footer">


  <small>
    <a href="http://railstutorial.org/">EquTree</a>
    by Nicu Tofan
  </small>
  
  
  <nav>
  
  
    <ul>
    
    
      <li><%= link_to "About",   about_path %></li>
      
      <li><%= link_to "Contact", contact_path %></li>
      
      <%-# @TODO path to news -%>
      <li><a href="#">Blog</a></li>
      
      
    </ul>
    
    
  </nav>
  
  
</footer>

<%-#  FOOTER    =========================================================== -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-#                                                                        -%>
<%-# ---------------------------------------------------------------------- -%>
<%-# ====================================================================== -%>
