/* ========================================================================= */
/* ------------------------------------------------------------------------- */
/*
  \file         _defines.css.scss
  \date         Apr 2013
  \author       TNick

  \brief        Common definitions for all stylesheets

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Please read COPYING and README files in root folder
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
//
//
//
//
/*  INCLUDES    ------------------------------------------------------------ */

/*  INCLUDES    ============================================================ */
//
//
//
//
/*  DEFINITIONS    --------------------------------------------------------- */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/*  DEFINITIONS    ========================================================= */
//
//
//
//
/*  CLASSES    ------------------------------------------------------------- */

/*  CLASSES    ============================================================= */
//
//
//
//
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
