/* ========================================================================= */
/* ------------------------------------------------------------------------- */
/*
  \file         bottombtn.css.scss
  \date         Apr 2013
  \author       TNick

  \brief        Styles for buttons at the bottom of the panel

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Please read COPYING and README files in root folder
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
//
//
//
//
/*  INCLUDES    ------------------------------------------------------------ */

@import "bootstrap";
@import "defines";

/*  INCLUDES    ============================================================ */
//
//
//
//
/*  DEFINITIONS    --------------------------------------------------------- */

/*  DEFINITIONS    ========================================================= */
//
//
//
//
/*  CLASSES    ------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* groups the buttons in the bottom part of the screen */
@media screen {
    div.bottom_menu {
        position: fixed;
        bottom: 0;
        padding:2px;
        width:100%;
    }
}
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* a single button in the bottom part of the screen */
div.bottom_btn {
    cursor:default;
    position: static;
    width:50px;
    height:50px;
    display: inline-block;
    border:1px dashed $grayMediumLight;
}
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* button at the bottom when it is hovered */
div.bottom_btn:hover {
    border:1px solid #0000FF;
    background:#E0FFFF;
}
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* button at the bottom when it is in active state */
div.bottom_btn_down {
    border:1px solid #FF00FF;
    background:#C0FFFF;
}
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* the label for button at the bottom */
div.bottom_btn_label {
    margin: 0px auto;
    position: absolute;
    top:34px;
    width:50px;
    text-align:center;
    font-size:0.8em
}
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* the icon for button at the bottom when it is hovered */
div.bottom_btn_img {
    width:50px;
    height:50px;
    margin:0px auto;
    text-align:center;
}
/* ========================================================================= */

/*  CLASSES    ============================================================= */
//
//
//
//
/* ------------------------------------------------------------------------- */
/* ========================================================================= */
